<!DOCTYPE html>
<html>
	<head>
		<title> Dumblr </title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/index.css')}}" />
	</head>
	<body>
		<header>
			Welcome to Dumblr!
		</header>
		<div id=loginbox>
			<a href="login"> Log in </a>
			<br />
			<a href="register"> Register </a>
		</div>
	</body>
</html>